<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.huawei.ibooking.mapper.StudyRoomMapper">
    <resultMap id="studyRoom" type="com.huawei.ibooking.model.StudyRoomDO"/>

    <select id="getStudyRooms" resultMap="studyRoom">
        select id,
               buildingNum as buildingNumber,
               classRoomNum as classRoomNumber
        from tbl_study_room
        order by id
    </select>
</mapper>